[Unit]
Description=Run an autostart script
After=ppos.target

[Service]
Type=oneshot
ExecStart=/opt/ppos/bin/autostart.sh

[Install]
WantedBy=multi-user.target
